<div>
    <button type="button" class="btn btn-secondary my-3 mx-3" (click)="groupByOperator()">GroupBy Operator</button>
</div>

<div>
    <button type="button" class="btn btn-secondary my-3 mx-3" (click)="mapOperator()">Map Operator</button>
</div>

<div>
    <button type="button" class="btn btn-secondary my-3 mx-3" (click)="mapToOperator()">MapTo Operator</button>
</div>

<div>
    <button type="button" class="btn btn-secondary my-3 mx-3" (click)="pluckOperator()">Pluck Operator</button>
</div>