<div>
    <button type="button" class="btn btn-secondary my-3 mx-3" (click)="intervalOperator()">Interval Operator</button>
</div>

<div>
    <button type="button" class="btn btn-secondary my-3 mx-3" (click)="rangeOperator()">Range Operator</button>
</div>

<div>
    <button type="button" class="btn btn-secondary my-3 mx-3" (click)="genrateOperator()">Genrate Operator</button>
</div>

<div>
    <button type="button" class="btn btn-secondary my-3 mx-3" (click)="deferOperator()">Defer Operator</button>
</div>

<div>
    <button type="button" class="btn btn-secondary my-3 mx-3" (click)="timerOperator()">Timer Operator</button>
</div>